
/* general-styles - File to define the global styles */

/* import external fonts */
@font-face{
  font-family: futura-pt_normal;
  src: url("../fonts/futura-pt.ttf");
}
@font-face{
  font-family: futura-pt_light;
  src: url("../fonts/futura-pt_light.ttf");
}

/* Definition of global css variables */
:root{
  --font-nav-size: 11.9608px;
  --brown-color: #877673;
  --brown-dark-color: #616161;
  --white-color: white;
  --blue-dark-color: #9db9d5;
  --main-font: futura-pt_normal;
  --light-font: futura-pt_light;
}

/* box-size rules */
*, body{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body tag styles */
body{
  z-index: -2;
}

/* HEADER STYLES */

/* nav styles */
nav { 
  min-height: 150px;
  z-index: 1;
}
nav ul li a {
  font-size: var(--font-nav-size);
  font-family: var(--main-font);
  color: var(--brown-color);
  text-decoration: none;
}
nav ul li a:hover{
  color: var(--brown-color);
}
nav .logos-nav svg{
  font-size: var(--font-nav-size);
  color: var(--brown-color);
}
nav .menu .menuContent a svg{
  color: var(--brown-color);
}
nav div button{
  font-size: var(--font-nav-size);
  color: var(--white-color);
  background-color: var(--blue-dark-color);
  padding: 9.59168px 16.0181px;
  width: 60%;
}
nav .menu .menuContent button{
  background-color: var(--brown-dark-color);
  color: var(--white-color);
  font-size: 16px;
  padding: 15.36px 25.6512px;
  width: 200px;
}
nav button:hover{
  opacity: 0.5;
}
nav .logos-nav a svg{
  width: 20px;
  height: 20px;
}

/* media quieries nav styles - 768px (break-point) */
@media only screen and (max-width: 768px){
  nav .logos-nav a svg.cart{
    opacity: 0.5;
    width: 30px;
    height:30px;
  }
}

/* Full screen nav styles */
.open {
  background-color: transparent;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  /* top: 8px; */
}
.open:before {
  content: "";
  background-color: var(--brown-color);
  width: 30px;
  height: 3px;
  opacity: 0.5;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 3px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.open:after {
  content: "";
  background-color: var(--brown-color);
  width: 30px;
  height: 3px;
  opacity: 0.5;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 13px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  cursor: pointer;
}
.menu {
  top: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  max-height: auto;
  background: #D6EEF4;
  z-index:-1;
}
.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}
.menu .menuContent {
  height: 460px;
  margin-top: 150px;
  overflow: scroll;
}
.menu ul {
  list-style: none;
}
.menu ul li a {
  color: var(--brown-color);
  text-decoration: none;
  transition: color 0.2s;
  font-family: var(--light-font);
  font-weight: 70;
  font-size: 35px;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: var(--brown-color);
}
.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}
#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}
#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}
#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}
#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}
